APP_ENV=production
APP_DEBUG=false
APP_URL=https://ALAMAT-BACKEND
FRONTEND_URL=https://portofolio-drw.vercel.app
SANCTUM_STATEFUL_DOMAINS=portofolio-drw.vercel.app
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
